GOOGLE_CLIENT_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
SUPABASE_SERVICE_ROLE_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
STRIPE_SECRET_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
STRIPE_PRICE_ID="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
RESEND_API_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
NEXT_PUBLIC_SUPABASE_URL="https://ABCDEFGHIJKLMNOPQRSTUVWXYZ.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
GOOGLE_CLIENT_ID="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
STRIPE_WEBHOOK_SECRET="ABCDEFGHIJKLMNOPQRSTUVWXYZ"